<p-panel header="Pipes no tan comunes" class="p-1">
    <p>
        Pipes incluidos en Angular - Usualmente en el <strong>CommonModule</strong>
    </p>
</p-panel>

<div class="grid">
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>Saludos {{ name }}, es un placer {{ gender | i18nSelect:invitationMap }} a nuestro evento.</p>
            <p-button (onClick)="changeclient()" label="Cambiar persona"></p-button>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>Actualmente {{ clients.length | i18nPlural:clientsMap }}</p>
            <p-button (onClick)="nextclient()" label="Siguiente cliente"></p-button>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Original</b>
            <pre>{{ clients }}</pre>
            <b>Slice:0:2</b>
            <pre>{{ clients | slice:0:2 }}</pre>
            <b>Slice:1:2</b>
            <pre>{{ clients | slice:1:2 }}</pre>
            <b>Slice:1:3</b>
            <pre>{{ clients | slice:1:3 }}</pre>
            <b>Slice:3:4</b>
            <pre>{{ clients | slice:3:4 }}</pre>
            <b>Slice:0:-2</b>
            <pre>{{ clients | slice:0:-2 }}</pre>
            <b>Slice:-2</b>
            <pre>{{ clients | slice:-2 }}</pre>
            <b>Slice:-2:2</b>
            <pre>{{ clients | slice:-2:2 }}</pre>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="JSON Pipe" [toggleable]="true">
            <pre>{{ person | json }}</pre>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let attribute of person | keyvalue">
                    <!-- {{ key | json }} -->
                    <b>{{ attribute.key | titlecase }}:</b> {{ attribute.value }}
                </li>
            </ul>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <pre *ngIf="!(myObservableTimer | async)">Resolviendo observable</pre>
            <pre>{{ myObservableTimer | async }}</pre>
            <pre *ngIf="!(promiseValue | async)">Resolviendo promesa</pre>
            <pre>{{ promiseValue | async }}</pre>
        </p-fieldset>
    </div>
</div>