<p-panel header="Pipes básicos" class="p-1">
    <p>
        Pipes incluidos en Angular - Usualmente en el <strong>CommonModule</strong>
    </p>
</p-panel>

<div class="grid">
    <div class="col-12 md:col-4">
        <p-card header="uppercase">
            {{ nameLower | uppercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="lowercase">
            {{ nameUpper | lowercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="titlecase">
            {{ fullName | titlecase }}
        </p-card>
    </div>
    <div class="col-12 md:col-6">
        <p-card header="date">
            <ol>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short'</li>
                <li>fecha | date:'long'</li>
                <li>fecha | date:'MMMM'</li>
                <li>fecha | date:'MMMM dd, yyyy'</li>
            </ol>
            <hr>
            <ol>
                <li>fecha | date:'long':'GMT-6'</li>
                <li>fecha | date:'long':'GMT-4'</li>
                <li>fecha | date:'long':'':'es-MX'</li>
                <li>fecha | date:'long':'':'en-US'</li>
                <li>fecha | date:'long':'':'fr'</li>
            </ol>
        </p-card>
    </div>
    <div class="col-12 md:col-6">
        <p-card header="date">
            <ol>
                <li>{{ currentDate }}</li>
                <li>{{ currentDate | date }}</li>
                <li>{{ currentDate | date:'short' }}</li>
                <li>{{ currentDate | date:'long' }}</li>
                <li>{{ currentDate | date:'MMMM' }}</li>
                <li>{{ currentDate | date:'MMMM dd, yyyy' }}</li>
            </ol>
            <hr>
            <ol>
                <li>{{ currentDate | date:'long':'GMT-6' }}</li>
                <li>{{ currentDate | date:'long':'GMT-4' }}</li>
                <li>{{ currentDate | date:'long':'':'es-MX' }}</li>
                <li>{{ currentDate | date:'long':'':'en-US' }}</li>
                <li>{{ currentDate | date:'long':'':'fr' }}</li>
            </ol>
        </p-card>
    </div>
</div>