<shared-menu></shared-menu>
<router-outlet></router-outlet>

<!-- Para tener el efecto ripple en el button importar RippleModule -->
<!-- <button pButton pRipple label="Presioname por favor"></button> -->
<!-- <p-button pRipple label="Presioname por favor"></p-button> -->
<!-- Para tener el efecto ripple en el p-button no hace falta importar nada -->
<!-- <p-button label="Presioname por favor" icon="pi pi-check" iconPos="left"></p-button> -->
<!-- <p-button label="Presioname otra vez" icon="pi pi-refresh"></p-button> -->